# Python
__pycache
*.pyc

# Rust
target/

# Editors
.vscode/
*.desmos

# Data Files
bin/
*.exe
*.midi
*.mid
*.wav

# Temporary files
temp/

# Soundfonts
soundfonts/*.txt

# Unignore default soundfonts
!soundfonts/default.txt
!soundfonts/sine.txt
!soundfonts/square.txt
!soundfonts/saw.txt
!soundfonts/triangle.txt

# Unignore sample files
!tests/samples/*.wav
!tests/samples/*.mid

# Releases
package/