# Python
__pycache
*.pyc

# Rust
target/
Cargo.lock

# Editors
.vscode/
*.desmos

# Output
bin/
*.exe
*.midi
*.mid

# Temporary files
temp/

# Soundfonts
soundfonts/

# Unignore default soundfonts
!soundfonts/default.txt
!soundfonts/sine.txt
!soundfonts/square.txt
!soundfonts/saw.txt
!soundfonts/triangle.txt
