# Python
__pycache
*.pyc

# Rust
target/
Cargo.lock

# Editors
.vscode/
*.desmos

# Output
bin/
*.exe
*.midi
*.mid

# Temporary files
temp/

# Ensure scripts maintain their line endings
*.sh text eol=lf
*.bat text eol=crlf
clean.sh text eol=lf
clean.bat text eol=crlf